* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blueBand {
    background-color: rgba(2, 131, 248, 255)
}

.navLink a {
    padding-right: 20px;
    text-decoration: none;
    color: black;
    position: relative;
    text-decoration: none;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -37px;
    height: 4px;
    width: 75%;
    transform: scaleX(0);
    /* Nasconde la riga */
    transform-origin: center;
    /* Punto di origine dell'animazione */
    transition: transform 0.3s ease;
    /* Aggiunge un'animazione fluida */
    background-color: rgba(2, 131, 248, 255)
}

.navLink a:hover::after {
    transform: scaleX(1);
    /* Mostra la riga al passaggio del mouse */
}

.blueBandLink {
    text-decoration: none;
    padding-left: 8px;
}

.blueBandLink:hover {
    text-decoration: underline;
}

.sezioneJumbo {
    background-image: url(./assets/img/footer-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}